<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BASE_URL" value="https://forum.wowcircle.com" />
    <add key="DISCORD_APP_TOKEN" value="DISCORD_APP_TOKEN_HERE" />
    <add key="CHANNEL_ID" value="CHANNEL_ID_HERE" />
    <add key="FETCH_DELAY" value="60" />
    <add key="MAX_SECONDS_BETWEEN_REQUEST" value="5" />
    <add key="NEW_TRHEAD_AGE" value="3600" />
    <add key="BOT_PREFIX" value="!!" />
    <add key="USER_AGENT" value="User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0" />
  </appSettings>
</configuration>